%h4 The concept

%p We'll give you 2 nouns and 1 adjective, you pick the winner.

%form#matchup(method="POST" action="/ratings/new")
	%input(name="adjective_id" type="hidden" value="#{@adjective.id}")
	%input(name="nounA_id" type="hidden" value="#{@nounA.id}")
	%input(name="nounB_id" type="hidden" value="#{@nounB.id}")
	%p
		%button(type="submit" name="winner_id" value="#{@nounA.id}")
			%img(src="#{@nounA.image_url}" width="200" title="#{@nounA.name}")
		%strong= @adjective.name
		%button(type="submit" name="winner_id" value="#{@nounB.id}")
			%img(src="#{@nounB.image_url}" width="200" title="#{@nounB.name}")